#form{
     display: inline-grid;
    margin-left: 2%;
 }

#usertable{
    width: auto;
}

.section_table_form{

    display: flex;
}

#formulaire{

}

#tableau{
    width: 35%;
}

/*icon*/
/*

.delete{
    background-image: url("image/delete.png");
    background-repeat: no-repeat;
}*/
